$color-white: #fff;
$color-black: #000;
$color-contessa: #C97164;
$color-quicksand: #BC978C;
$color-cadet-blue: #B2BBC3;
$color-bright-grey: #37384C;


$font-george-x: 'george-x';
$font-suisse-bp: 'suisse';

$ease-out-expo: cubic-bezier(0.19,1,0.22,1);

$z-indexes:(
    'preloader',
    'navigation',
    'content'
)
